html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  overflow: hidden;
}
@media all and (width: 1024px) and (height: 691px) and (orientation: landscape) {
  html,
  body {
    height: 671px;
  }
}
@media all and (width: 1024px) and (height: 692px) and (orientation: landscape) {
  html,
  body {
    height: 672px;
  }
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

/* === Views === */
.views,
.view {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5000;
}
.views {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.view {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* === Pages === */
.pages {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}
.page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #efeff4;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.page.cached {
  display: none;
}
.page-on-left {
  opacity: 0.9;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(-20%, 0, 0);
  -ms-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
}
.page-on-center {
  opacity: 1;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.page-on-right {
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 1;
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.page-content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

/* === Slider === */
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}
.slider-container-vertical .slider-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.slider-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
.slider-pagination {
  position: absolute;
  z-index: 10;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
}
.slider-pagination.slider-pagination-hidden {
  opacity: 0;
  pointer-events: none;
}
.slider-container-vertical .slider-pagination {
  right: 10px;
  left: auto;
  top: 50%;
  bottom: auto;
  width: auto;
  height: auto;
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.slider-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
  margin: 0 5px;
}
.slider-container-vertical .slider-pagination-bullet {
  display: block;
  margin: 5px 0;
}
.slider-pagination-active {
  opacity: 1;
  background: #007aff;
}